.box {
  position: relative;
  width: 400px;
  height: 440px;
  background-color: rgb(24, 16, 1);
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: " ";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 440px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  animation: animate1 6s linear infinite;
}
.box::after {
  content: " ";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 440px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes animate1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 6px;
  top: 2px;
  left: 2px;
  width: 396px;
  height: 436px;
  background-color: rgb(71, 48, 5);
  position: absolute;
  z-index: 1;
}

.form h2 {
  text-transform: capitalize;
  padding: 0px;
  color: aqua;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header button {
  box-sizing: border-box;
  height: 1.5rem;
  width: 4rem;
  border: none;
  border-radius: 0.5rem;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(47, 172, 47);
}
.header button:hover {
  border: 2px solid rgb(5, 117, 29);
}

.circle {
  padding: 1rem;
  border-radius: 10rem;
  overflow: hidden;
}
.circle img {
  object-fit: cover;
  width: 20rem;
}
