.bar {
  margin: 1rem;
  display: flex;
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 10px;
  width: 90vw;
  background-color: rgb(79, 85, 57);
  padding: 2px;
}

.fill {
  width: 0%;
  height: 100%;
  border-radius: 4px;
  transition: 1s;
}
