.heading {
  width: 90vw;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 1rem;
  display: flex;
  color: white;
  background-color: rgb(48, 56, 20);
}
.icon {
  font-size: 1.5rem;
  transition: 0.4s;
}
.activated {
  rotate: 180deg;
}
.para {
  width: 90vw;
  overflow: hidden;
  background-color: rgb(241, 215, 164);
  animation-name: increase;
  animation-duration: 1s;
}
.para > div {
  display: flex;
  flex-direction: column;
}

@keyframes increase {
  from {
    max-height: 0px;
  }
  to {
    max-height: 20rem;
  }
}
