.header {
  height: 4vh;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: rgb(253, 207, 122);
}
.header button {
  border: none;
  border-bottom: 1px solid #0c0000;
  height: 4vh;
  width: 25vw;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}
.active button {
  color: white;
  border-bottom: none;
  border-top: 1px solid rgb(253, 207, 122);
  border-left: 1px solid rgb(253, 207, 122);
  border-right: 1px solid rgb(253, 207, 122);
  background: rgb(48, 56, 20);
}
.header button:hover {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.185);
}
