.header {
  height: 5vh;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  background-color: rgb(7, 5, 0);
  color: rgb(235, 164, 13);
}
.header button {
  border: none;
  border-radius: 0.5rem;
  height: 1.5rem;
  width: 6rem;
  background-color: rgb(253, 207, 122);
  transition: all 0.5s;
}
.active button {
  background-color: orange;
  box-shadow: 3px 3px 10px rgb(95, 73, 31), -3px -3px 10px rgb(95, 73, 31);
}
.header button:hover {
  background-color: rgb(56, 190, 16);
  box-shadow: 2px 2px 10px rgb(252, 251, 249), -2px -2px 10px rgb(245, 244, 243);
}
