.filter {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  background-color: rgb(48, 56, 20);
  color: white;
}
.filter input,
select {
  border: none;
  box-shadow: 0px 0px 10px white;
  border-radius: 5px;
  width: 40%;
  height: 1.5rem;
  background-color: rgb(72, 83, 30);
  padding: 3px 0px 3px 12px;
  color: white;
}
