.footer {
  border-top: 1px solid orange;
  background-color: rgb(48, 43, 14);
  padding: 20px;
  color: orange;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footerSection {
  flex: 1;
  margin-right: 40px;
}

.footerSection h3 {
  margin-bottom: 10px;
}

.socialMedia {
  list-style: none;
  padding: 0;
  display: flex;
}

.socialMedia li {
  margin-right: 10px;
}

.socialMedia a {
  color: #ddb504;
  text-decoration: none;
  font-size: 20px;
}

.footerBottom {
  margin-top: 15px;
  text-align: center;
  color: #e4f129;
}
